<div class="obj-sun">
	<div class="obj-sun-corona">
		<div class="item-group-1">
			<span class="item-1"><span><span></span></span></span>
			<span class="item-2"><span><span></span></span></span>
			<span class="item-3"><span><span></span></span></span>
			<span class="item-4"><span><span></span></span></span>
		</div>
		<div class="item-group-2">
			<span class="item-1"><span><span></span></span></span>
			<span class="item-2"><span><span></span></span></span>
			<span class="item-3"><span><span></span></span></span>
			<span class="item-4"><span><span></span></span></span>
		</div>
		<div class="item-group-3">
			<span class="item-1"><span><span></span></span></span>
			<span class="item-2"><span><span></span></span></span>
			<span class="item-3"><span><span></span></span></span>
			<span class="item-4"><span><span></span></span></span>
		</div>
		<div class="item-group-4">
			<span class="item-1"><span><span></span></span></span>
			<span class="item-2"><span><span></span></span></span>
			<span class="item-3"><span><span></span></span></span>
			<span class="item-4"><span><span></span></span></span>
		</div>
		<div class="item-group-5">
			<span class="item-1"><span><span></span></span></span>
			<span class="item-2"><span><span></span></span></span>
			<span class="item-3"><span><span></span></span></span>
			<span class="item-4"><span><span></span></span></span>
		</div>
		<div class="item-group-6">
			<span class="item-1"><span><span></span></span></span>
			<span class="item-2"><span><span></span></span></span>
			<span class="item-3"><span><span></span></span></span>
			<span class="item-4"><span><span></span></span></span>
		</div>
	</div>
	<div class="obj-sun-photosphere"></div>
</div>