<% provide(:title, "Help") %>
<h1>Help</h1>
<h2>今日の天気を５段階で評価して下さい</h2>

<div class="center">
<%= cl_image_tag("window11_niji_tmkdwn.png") %>
<%= cl_image_tag("window01_hare_kzgzto.png") %>
<%= cl_image_tag("window05_kumori_sqzsou.png") %>
<%= cl_image_tag("window06_ame_rskokm.png") %>
<%= cl_image_tag("window08_yuki_avudt6.png") %>
</div>