<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron color_aozora">
    <%= render 'home_anime' %>
    <h1>お天気評価</h1>
    <h2>今日の天気は何点ですか？</h2>
    <%= link_to "登録する", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>