<%= form_for(@micropost) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="field">
  <span>本日の評価</span>
  <!-- <%= f.number_field :rating, min:0,max:5 %> -->
  <div class="evaluation">
    <%= f.radio_button :rating, '5', { id: "star1" } %>
    <label for="star1">★</label>
    <%= f.radio_button :rating, '4', { id: "star2" } %>
    <label for="star2">★</label>
    <%= f.radio_button :rating, '3', { id: "star3" } %>
    <label for="star3">★</label>
    <%= f.radio_button :rating, '2', { id: "star4" } %>
    <label for="star4">★</label>
    <%= f.radio_button :rating, '1', { id: "star5" } %>
    <label for="star5">★</label>
  </div>
</div>

<div class="field">
  <%= f.text_area :content, placeholder: "天気の感想などあれば書いて下さい。" %>
</div>

<%= f.submit "Post", class: "btn btn-primary" %></br></br>

<span　class="picture">
  <%= f.file_field :avatar, class: "btn btn-default" %>
</span>

<% end %>

<script type="text/javascript">
$('#micropost_avatar').bind('change', function() {
  var size_in_megabytes = this.files[0].size/1024/1024;
  if (size_in_megabytes > 5) {
    alert('Maximum file size is 5MB. Please choose a smaller file.');
  }
});
</script>
