<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <div class="rating">
      <!-- rating -->
      <% if micropost.rating == 5.to_i then %>
        <%= cl_image_tag("s_star5_pyl2sg.png") %>
      <% elsif micropost.rating == 4.to_i then %>
        <%= cl_image_tag("s_star4_hsyd36.png") %>
      <% elsif micropost.rating == 3.to_i then %>
        <%= cl_image_tag("s_star3_asgbed.png") %>
      <% elsif micropost.rating == 2.to_i then %>
        <%= cl_image_tag("s_star2_ditqmo.png") %>
      <% elsif micropost.rating == 1.to_i then %>
        <%= cl_image_tag("s_star1_anhuty.png") %>
      <% elsif micropost.rating == 0.to_i then %>
        <%= cl_image_tag("s_star0_pdkt6a.png") %>
      <% end %>

    </div>
    <div>
      <%= micropost.content %>
    </div>
    <div class="avatre">
      <%= image_tag micropost.avatar.url if micropost.avatar? %>
    </div>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "削除してよろしいですか?" } %>
    <% end %>
  </span>
</li>
