<footer class="footer">
  <nav>
    <div id="turbolinks_container">
      <div class="turbolinks">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://otenkihyouka.herokuapp.com/" data-lang="ja">ツイート</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      <div class="turbolinks">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.10";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-href="https://otenkihyouka.herokuapp.com/" data-width="50px" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
      </div>
      <div class="turbolinks">
        <a href="http://b.hatena.ne.jp/entry/s/otenkihyouka.herokuapp.com/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label-counter" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
      </div>
      <p class="turbolinks_right">
        <ul>
          <!-- <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li> -->
          <li><%= link_to "News", news_path %></li>
        </ul>
      </p>
    </div>
  </nav>
</footer>
