<header class="navbar navbar-fixed-top navbar-inverse navbar-color" >
  <div class="container">
    <%= link_to "お天気　評価", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path, class: "glyphicon glyphicon-home color_white" %></li>
        <li><%= link_to "Help", help_path, class: "glyphicon glyphicon-search color_white" %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path, class: "glyphicon glyphicon-user color_white" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle glyphicon glyphicon-cog" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path, class: "glyphicon glyphicon-hand-right color_white" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57073157-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-57073157-3');
</script>
